# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env
env/

# Ignore build outputs
/build/
ai-chatbot/
backup/

# Ignore data
dataset_download.py
netscape_convert.py
logger_gui.exe
logger_gui.spec
cookies.*
/data
*.txt
dist/

# Ignore cache
*.db
yt_dlp_cache/
__pycache__/