// Fill in and save this file as .env

BOT_TOKEN=
GROQ_API_KEY=

// Chatbots
MENTAL_CHANNEL_ID=
GENERAL_CHANNEL_ID=

// Other bots
WIKI_CHANNEL_ID =
EDUCATIONAL_CHANNEL_ID =

// News channel
NEWS_CHANNEL_ID=

// NSFW
IMAGE_CHANNEL_ID =
ADMIN_ROLE_ID =
PIXIV_REFRESH_TOKEN =

REDDIT_CLIENT_ID =
REDDIT_CLIENT_SECRET =
REDDIT_USER_AGENT=

// Welcome channel
WELCOME_CHANNEL_ID=